@model AuthLoginViewModel

<div class="flex-center">
    <div class="rounded-4 bg-light flex-around flex-column t-dark pt-3 pb-4 px-5 wpx-256">
        <h2 class="text-center">Inicia Sesión</h2>
        <form asp-controller="auth" asp-action="login" method="post">
            <div class="mb-2">
                <label for="Email">Correo</label>
                <input class="form-control" name="Email" />
            </div>
            <div class="mb-3">
                <label for="Password">Contraseña</label>
                <input type="password" class="form-control" name="Password" />
            </div>
            <button type="submit" class="btn btn-blue w-100">Iniciar Sesión</button>
        </form>
    </div>
</div>