<footer class="border-top-2 border-light-yellow bg-dark-orange w-100">
    <div class="container flex-center py-4 flex-column">
        <h3>SÍGUENOS EN REDES SOCIALES</h3>
        <div class="flex-around w-40 mt-3">
            <img class="rect-48 c-hand" src="~/images/rrss/instagram.png" />
            <img class="rect-48 c-hand" src="~/images/rrss/facebook.png" />
            <img class="rect-48 c-hand" src="~/images/rrss/twitter.png" />
            <a asp-controller="home" asp-action="subscribe">
                <img class="rect-48" src="~/images/rrss/email.png" />
            </a>
        </div>
    </div>
</footer>