<header class="bg-dark-orange w-100 py-3 flex-between">
    <a asp-controller="home" asp-action="index">Inicio</a>
    @if((bool?)ViewData["Auth"] == true)
    {
        <div class="flex-start">
            <a asp-controller="cart" asp-action="index" class="btn btn-ocean me-3">Ver Carro</a>
            <a asp-controller="auth" asp-action="logout" class="btn btn-red">Cerrar Sesión</a>
        </div>
    }
    else
    {
        <a asp-controller="auth" asp-action="index" class="btn btn-blue">Iniciar Sesión</a>
    }
</header>