<form asp-action="subscribe" method="post">
    @Html.AntiForgeryToken()
    <label for="Email">Correo Electrónico</label>
    <input name="Email" />
    <button type="submit">Suscribirse</button>
</form>

<p>Tu suscripción te entrega un 10% de descuento en compras con más de 4 productos distintos.</p>